VITE_API_SERVER_URL_PREPROD=https://api.preprod.staging.wingriders.com
VITE_API_SERVER_URL_MAINNET=https://api.mainnet.staging.wingriders.com
VITE_CAB_SERVER_URL_PREPROD=https://cab-server.preprod.staging.wingriders.com
VITE_CAB_SERVER_URL_MAINNET=https://cab-server.mainnet.staging.wingriders.com
